* {
  padding: 0;
  margin: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.container {
  display: table-row; /* table-row */
  align-items: center;
  justify-content: center;
  align-self: center;
  width: 100vw;
  height: 100vh;

}


/* Header */
.start__header {
  width: 100vw;
  height: 7.5vh;


  background-color: rgb(218, 255, 255);
  text-align: center;
  font-size: 1.5rem;

}

.header__myloc {
  float: left;
  margin: 10px;

  
}

.header__kund {
  float: right;
  text-align: center;
  margin: 10px;


} 

.logo {
  position: relative;
  object-fit: scale-down;
  height: -webkit-fill-available;
}








/* Slideshow */
.slideshow__window {
  
  min-width: 100%;
  height: 100%;
  align-self: center;
  justify-content: center;
  align-items: center;

  
  /*   
  position: relative;
  display: flex;
  */
}


/* Different images */
.image {
  /* background-color: aquamarine; */
  position: relative;
  width: 100vw;
  height: 92vh; /* 50vmax */
  object-fit: scale-down;
}

.image .website {
  overflow: hidden;
}


.slide__img {
  opacity: 0;
  transition-duration: 0.5s ease;
}

.slide__img.active {
  opacity: 1;
  transition-duration: 0.5s;
}

